/*----------- PSEUDOCLASES PARA ETIQUETAS < A > --------------*/

/* a:link {color: red;} */
/* a:hover {background-color: yellow;} */
a:visited {color: green;}
a:active {background-color: orange; color: white;}
 

